# Rust build artifacts
/target
**/*.rs.bk
Cargo.lock

# Cloudflare Worker build artifacts
/build
/worker
/dist
.wrangler

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
node_modules/.mf/cf.json
node_modules/.cache/wrangler/wrangler-account.json
